
.singleArticle-football {
background-color:#3B61AD;
list-style: none;
width: 600px;
margin: 0 auto; 
}

.singleArticle-cooking {
background-color: #F5AC2B;
list-style: none;
width: 600px;
margin: 0 auto; 
}

.singleArticle-coding {
background-color: #DA3927;
;
list-style: none;
width: 600px;
margin: 0 auto; 
}